# Ignore sftp permissions folder
alphie-sftp

# Ignore rawdata folder
rawdata

# Ignore generated batch sftp commands file
batch.txt

# Ignore pano-downloads folder
pano-downloads

# Ignore generated csv files
*.csv

# Ignore generated crops
crops

# Ignore crop log
crop.log

# Ignore datasets folder
datasets

# Ignore pycache
__pycache__

# Ignore .DS_Store
.DS_Store

# Ignore zips
*.zip

# Ignore generated visualizations
visualizations
