# Ignore sftp permissions folder
alphie-sftp

# Ignore rawdata folder
rawdata

# Ignore generated batch sftp commands folder
batches

# Ignore pano-downloads folder
pano-downloads

# Ignore generated csv files
*.csv

# Ignore generated crops
crops

# Ignore crop logs
crop_logs

# Ignore datasets folder
datasets/*

# Except train/test sets for ASSETS2022
!datasets/assets-2022/

# Ignore models folder
models

# Ignore pycache
__pycache__

# Ignore .DS_Store
.DS_Store

# Ignore zips
*.zip

# Ignore generated visualizations
visualizations

# Ignore env folder
env

# Ignore xml metadata download folder
xml-metadata
